<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>faktiva_cleanurls</name>
	<displayName><![CDATA[Faktiva Clean URLs]]></displayName>
	<version><![CDATA[1.2.3]]></version>
	<description><![CDATA[This override-Module allows you to remove URL ID&#039;s.]]></description>
	<author><![CDATA[Faktiva]]></author>
	<tab><![CDATA[seo]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall &quot;Faktiva Clean URLs&quot; module?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
